# full script at https://github.com/travis-ci/travis-build/blob/master/lib/travis/build/script/r.rb
language: r
r: bioc-devel
bioc_check: true
cache: packages
sudo: required
warnings_are_errors: true
dist: trusty

# unfortunately apt packages are not cached
# we could use these build dependencies just in the "Build" stage and
# install their runtime libraries counter parts in "Check" but that would make
# the script more complicated and saves just a few seconds
addons:
  apt:
    packages:
      - libnetcdf-dev
      - netcdf-bin # libnetcdf-dev doesn't contain nc-config in ubuntu 12.04 (in 16.04 [xerus] it is part of libnetcdf-dev)
      - libhdf5-dev
      - libgit2-dev # git2r

jobs:
  include:
    - stage: "Build"
      r_packages:
        - covr
        - pkgdown
        - testthat
        - knitr
        - roxygen2
      before_install:
        - mkdir -p ~/.R
        - echo -e 'MAKEFLAGS = -j2' > ~/.R/Makevars
        - echo 'options(Ncpus = 2)' > ~/.Rprofile
      script: true
      name: "Build dependencies and cache"
    - stage: "Check"
      install: skip
      after_success:
        - travis_wait 20 Rscript -e 'covr::codecov()'
        - test ${TRAVIS_BRANCH} = "master" -a -z "${TRAVIS_PULL_REQUEST_BRANCH}" && travis_wait 20 Rscript -e 'pkgdown::build_site()'
      name: "R CMD check"

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_PAT
  keep-history: true
  local-dir: docs
  on:
    branch: master

notifications:
  email:
    recipients: lg390@cam.ac.uk
    on_failure: change
    on_success: change
