import(graphics)
import(Biobase)

importFrom(plyr,llply)
importFrom(xcms,xcmsRaw) ## not needed really, using unexported xcms:::ramp* only
importFrom(preprocessCore,normalize.quantiles) 
importFrom(vsn,vsn2,meanSdPlot)
importFrom(IRanges,IRanges,sapply)
importClassesFrom(IRanges,IRanges)

export(readMzXMLData,
       formatRt,
       extractSpectra,
       extractPrecSpectra,
       as.data.frame.Spectrum,
       combineFeatures,
       makeImpuritiesMatrix,
       precSelection,
       precSelectionTable)


exportClasses(pSet,
              MIAPE,
              MSnExp,
              MSnProcess,
              MSnSet,
              Spectrum, Spectrum1, Spectrum2,
              ReporterIons)

exportMethods(coerce,
              show,"[","[[",
              fileNames,
              qual,
              length,
              plot,
              plot2d,
              plotDensity,
              plotMzDelta,
              spectra,
              processingData,
              peaksCount,
              clean,
              removePeaks,
              removeReporters,
              intensity,
              mz,
              tic,
              fromFile,
              centroided,"centroided<-",
              precursorMz,
              precursorIntensity,
              precursorCharge,
              acquisitionNum,
              rtime,
              peaksCount,
              msLevel,
              collisionEnergy,
              polarity,
              trimMz,
              quantify,
              purityCorrect,
              header,
              dim,
              multiplex,
              multiLabels,
              width,
              reporterNames,"reporterNames<-",
              reporterColours,reporterColors,
              writeMgfData,
              normalise, normalize)

## methods NOT exported
## curveStats
## ms1scan
## "precursorCharge<-"
## ratios


